*.class

Keplerbot/bin/
Keplerbot Updater/bin/
.metadata/
RemoteSystemsTempFiles/
Keplerbot/target/
Keplerbot/.project
Keplerbot Updater/.project
Keplerbot/.settings/
Keplerbot Updater/.settings/
Keplerbot/.classpath
Keplerbot Updater/.classpath

Keplerbot/log.txt
Keplerbot/presets.txt
Keplerbot/keplerbot.properties
Keplerbot/logs/
Keplerbot/configs/
Keplerbot/commands/
Keplerbot/news/
keplerbot.properties

log.txt
